.card{
  height:60vh;
  margin:25px ;
  padding:25;


}
.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
.center img{
  text-decoration: none;
  color:inherit;
  border:none;
  outline:none;
  height: 126px;
  width:250px;
  margin:20px 0px;
}
.card-table{
  background-color: rgba(104, 177, 211, 0.849);
  position: relative;
  display:flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border: radius 0.25em;
}
.center .btn{
  font-size: 14px !important;
  margin: top 20px;
  font-weight:400;
  padding:12px 72px;
  border-radius:3px !important;
  color: rgb(233, 85, 85);
}

